.question-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 50%;
    border: 1px solid black;
}